body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}
h1 {
  font-family: "Open Sans", sans-serif;
  font-size: 3.5em;
  letter-spacing: 5px;
  text-align: center;
  margin: 0.5em auto;
}
#slotMachine {
  width: 27.375em;
  height: 27.375em;
  border: 1px solid white;
  margin: 0 auto;
}
.slot {
  display: block;
  float: left;
  width: 9em;
  height: 9em;
  border: 1px solid white;
}

