body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}
h1 {
  font-family: "Open Sans", sans-serif;
  font-size: 3.5em;
  letter-spacing: 5px;
  text-align: center;
  margin: 0.5em auto;
}
#slotMachine {
  /*width: 27.375em;
  height: 27.375em;*/
  border: 1px solid white;
  /*margin: 0 auto;*/
  margin: 0 2em 0 26em;
  float: left;
}
#rowOne {
  float: left;
}
#rowTwo {
  float: left;
}
#rowThree {
  float: left;
}
  .slot {
  display: block;
  float: left;
  width: 9em;
  height: 9em;
  border: 1px solid white;
}
#rowOne {
  margin: 3px;
}
#rowTwo {
  margin: 3px;
}
#rowThree {
  margin: 3px;
}
#spinButton {
  position: absolute;
  top: 8.9em;
  left: 7em;
  display: inline-block;
  padding: 1em 1em;
  background-color: #FFEF66;
  border: none;
  color: #000;
  text-align: center;
  letter-spacing: 5px;
  font-size: 2em;
  cursor: pointer;
  text-decoration: none;
  outline: none;
  border-radius: 15px;
  box-shadow: 0 0.5em #999;
}
#spinButton:hover {
  background-color: #ffe400;
}

